@font-face {
    font-family: 'flame-bold';
    src: url(assets/fonts/FlameBold.otf);
}
@font-face {
    font-family: 'flame';
    src: url(assets/fonts/FlameRegular.otf);
}
@font-face {
    font-family: 'futurak';
    src: url(./futurak.ttf);
}

.bg-gray{
    background-color: #f5ebdc;
}

/* Nave bar start */
.pink
{
    background-color: #F5EBDC;
    padding: 20px 5px;
    border-bottom: 1px solid #5f5f5f;
}
.hederbtns
{
    font-family: 'flame';
background-color: #D62300;
color: #fff;

}
.hederbtns-black
{
    font-family: 'flame';
    background-color: #000;
    color: #fff;

}
.ham-burg
{
    width: 486px;
    font-size: 25px;
}
@media only screen and (max-width:1022px)
{
    
    .ham-burg
    {
        width: 290px;
        font-size: 25px;
    }
}
@media only screen and (max-width:768px)
{
    .ham-burg
    {
        width: 290px;
        font-size: 25px;
    }
    
.logo
{
    display: none;
}
}
@media only screen and (max-width:520px)
{
    .ham-burg
    {
        width: 50px;
        font-size: 25px;
    }
    .logo{
        display: block;
        
    }
    
.nav-bag
{
    display: none;
}
}
/* Nave bar end  */


/* hero section start */
.bold-hero
{
    font-family: 'flame-bold';
    font-size: 70px;
    color: #502314;
}
.hero-burger
{
    width: 700px;
    padding-top: 30px;
}
.online-burger
{
background-color: #A71B00;
padding: 15px 35px;
width: 300px;

border: none;
color: #fff;
font-family: 'flame';

}
.online-burger-2
{
background-color: transparent;
padding: 15px 35px;
width: 300px;
border: 1px solid #A71B00;
color: #A71B00;
font-family: 'flame';
border-radius: 50px;
margin-top: 10px;

}

.rounded-pill{
    background-color:#fff;
    border: 1px solid red;
    color: red;
}


@media only screen and (max-width:1200px)
{
    .hero-burger
    {
        width: 500px;
        text-align: center;
    }
}
@media only screen and (max-width:520px)
{
    .hero-burger
    {
        width: 300px;
        text-align: center;
    }
}
/* hero section end  */


/* footer area started */


.footer-font{
    font-family:'futurak' ;
    color: #502314;
    font-size: 50px;
}

/* @media only screen and (max-width:1000px){
    .box-1>img{
        width: 300px;
    }

} */


@media only screen and (max-width:990px) {
    .box-1>img{
        width: 300px;
    }
    .footer-font{
        font-size: 30px;
        text-align: center;
    }
    .F-img{
        display: inline-flex;
    }
    .footer-text{
        font-size: 30px;
        text-align: center;
    }
}
@media only screen and (max-width:790px) {
    .box-1>img{
        width: 200px;
    }
    .footer-font{
        font-size: 30px;
        text-align: center;
    }
    .F-img{
        display: inline-flex;
    }
    .footer-text{
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (max-width:580px) {
    .box-1>img{
        width: 150px;
    }
    .footer-font{
        font-size: 20px;
        text-align: center;
    }
    .F-img{
        display: inline-flex;
    }
    .footer-text{
        font-size: 15px;
        text-align: center;
    }
}
@media only screen and (max-width:476px) {
    .box-1>img{
        width: 100px;
    }
    .footer-font{
        font-size: 20px;
        text-align: center;
    }
    .F-img{
        display: inline-flex;
    }
    .footer-text{
        font-size: 12px;
        text-align: center;
    }
}













/* footer area ended */